.parameter-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  row-gap: 2px;
  width: 100%;
  padding: 16px;
}

ion-item {
  height: max-content;
  width: 100%;
}

ion-item .item-inner {
  border-style: none;
  border-width: 0;
}
